.u_position_fixed {position: fixed; }
.u_position_absolute {position: absolute; }
.u_position_relative {position: relative; }

.u_clear_both { clear: both; }
.u_float_left { float:left; }
.u_float_right { float:right; }

.u_text_center { text-align: center; }
.u_text_right { text-align: right; }
.u_text_left { text-align: left; }

.u_text_transform_uppercase { text-transform: uppercase; }
.u_text_transform_capitalize { text-transform: capitalize; }

.u_font_weight_bold { font-weight: bold; }

.u_margin_auto { margin: 0 auto; }
.u_margin_bottom_0 { margin-bottom: 0; }
.u_opacity_0 {opacity:0; }

.u_display_block { display: block; }
.u_display_inline_block { display: inline-block; }

.u_align_vertical_top { vertical-align: top; }
.u_align_vertical_middle { vertical-align: middle; }

.u_background_none { background:none; }
.u_border_none { border: none; }
.u_display_none { display: none; }
.u_list_style_none  { list-style-type : none; }