// SAMPLE FILE - PLEASE MODIFY ACCORDING TO YOUR PROJECT

// colors

$color-black-primary: #000000;
$color-black-secondary: #222222;
$color-black-light: #323232;

$color-white-primary: #fff;

$color-blue-primary:#5584ff;

$color-grey-primary:#6d6d6d;
$color-grey-light:rgba(248, 248, 248,0.5);
// theme

$color-crimson: #f91b0e;
$color-pink: #ff67a1;
$color-violet: #b700e9;
$color-indigo: #8722ff;
$color-blue: #0ebaf9;
$color-forest: #00a74a;
$color-green: #59CF00;
$color-gold: #FFD202;
$color-orange: #FF8706;


// fonts

$font-path: './assets/fonts';

// Eina01
// $font-name-eina01:'eina01';
// $font-filename-eina01:'/Eina01-Regular.ttf';


// Font Size
$font-size-default: 1.6rem;
$font-size-heading: 2.6rem;
$font-size-subtitle: 2.0rem;


// images
$image-path: '~images';